<div class="row p-5">
    <div class="col-12 col-lg-4 mb-2" *ngFor="let hero of heroes">
        <div class="card w-100">
            <div class="row">
                <div class="col-4">
                    <img class="card-img-top" src="assets/img/restaurants/breadbakery.png" alt="Card image cap">
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <span>Card title</span>
                            <span class="float-right">4.5</span>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>